<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geshanzsq.system.mapper.SysWebConfigMapper">
    
    <resultMap type="SysWebConfig" id="SysWebConfigResult">
        <result property="webConfigId"    column="web_config_id"    />
        <result property="aboutWebDescription"    column="about_web_description"    />
        <result property="aboutWebEmail"    column="about_web_email"    />
        <result property="aboutWebContent"    column="about_web_content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysWebConfigVo">
        select web_config_id, about_web_description, about_web_email, about_web_content, create_by, create_time, update_by, update_time from sys_web_config
    </sql>

    <select id="selectSysWebConfig" resultMap="SysWebConfigResult">
        <include refid="selectSysWebConfigVo"/> limit 1
    </select>
        
    <insert id="insertSysWebConfig" parameterType="SysWebConfig">
        insert into sys_web_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="webConfigId != null">web_config_id,</if>
            <if test="aboutWebDescription != null">about_web_description,</if>
            <if test="aboutWebEmail != null">about_web_email,</if>
            <if test="aboutWebContent != null">about_web_content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="webConfigId != null">#{webConfigId},</if>
            <if test="aboutWebDescription != null">#{aboutWebDescription},</if>
            <if test="aboutWebEmail != null">#{aboutWebEmail},</if>
            <if test="aboutWebContent != null">#{aboutWebContent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysWebConfig" parameterType="SysWebConfig">
        update sys_web_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="aboutWebDescription != null">about_web_description = #{aboutWebDescription},</if>
            <if test="aboutWebEmail != null">about_web_email = #{aboutWebEmail},</if>
            <if test="aboutWebContent != null">about_web_content = #{aboutWebContent},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where web_config_id = #{webConfigId}
    </update>
    
</mapper>