<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geshanzsq.nav.mapper.FrontMenuMapper">

    <resultMap type="FrontMenuVO" id="FrontMenuResult">
        <result property="menuId"    column="menu_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="menuIcon"    column="menu_icon"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <resultMap type="FrontSiteVO" id="FrontSiteResult">
        <result property="siteId"    column="site_id"    />
        <result property="siteName"    column="site_name"    />
        <result property="menuId"   column="menu_id"/>
        <result property="sitePath"    column="site_path"    />
        <result property="siteDescription"    column="site_description"    />
        <result property="siteUrl"    column="site_url"    />
        <result property="orderNum"    column="order_num"    />
    </resultMap>

    <!-- 前台导航页面展示，获取所有导航菜单 -->
    <select id="findFrontAllMenu" parameterType="Integer" resultMap="FrontMenuResult">
        select
            menu_id,
            menu_name,
            menu_icon,
            parent_id
        from nav_menu
        where status = #{status}
        order by parent_id, order_num
    </select>

    <!-- 前台导航页面展示，获取所有导航站点 -->
    <select id="findFrontAllSite" parameterType="Integer" resultMap="FrontSiteResult">
        select distinct
            ns.menu_id,
            ns.site_id,
            ns.site_name,
            ns.site_path,
            ns.site_description,
            ns.site_url,
            ns.order_num
        from nav_site ns
        inner join nav_menu nm on ns.menu_id = nm.menu_id
        where nm.status = #{status} and ns.status = #{status}
        order by ns.menu_id, ns.order_num
    </select>

    <!-- 查询站点 -->
    <select id="searchSiteByName" parameterType="Object" resultMap="FrontSiteResult">
        select
            menu_id,
            site_id,
            site_name,
            site_path,
            site_description,
            site_url
        from nav_site
        where
            status = #{status}
            and
            (site_name like concat('%',#{siteName},'%') or site_description like concat('%',#{siteDescription},'%'))
        order by menu_id, order_num
    </select>

</mapper>