<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geshanzsq.nav.mapper.NavSiteMapper">
    
    <resultMap type="NavSite" id="NavSiteResult">
        <result property="siteId"    column="site_id"    />
        <result property="menuId"    column="menu_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="siteName"    column="site_name"    />
        <result property="sitePath"    column="site_path"    />
        <result property="siteDescription"    column="site_description"    />
        <result property="siteUrl"    column="site_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="clickCount"    column="click_count"    />
    </resultMap>

    <sql id="selectNavSiteVO">
        select
            nt.site_id,
            nt.menu_id,
            nc.menu_name,
            nt.site_name,
            nt.site_path,
            nt.site_description,
            nt.site_url,
            nt.create_time,
            nt.status,
            nt.order_num,
            nt.click_count
        from nav_site nt
        left join nav_menu nc on nt.menu_id = nc.menu_id
    </sql>

    <select id="selectNavSiteList" parameterType="NavSite" resultMap="NavSiteResult">
        <include refid="selectNavSiteVO"/>
        <where>  
            <if test="menuId != null "> and nt.menu_id = #{menuId}</if>
            <if test="siteName != null  and siteName != ''">
                and (
                    nt.site_name like concat('%', #{siteName}, '%')
                    or nt.site_description like concat('%', #{siteDescription},'%')
                )
            </if>
            <if test="status != null "> and nt.status = #{status} and nc.status = #{status}</if>
        </where>
        order by nc.parent_id, nc.order_num,nt.order_num
    </select>
    
    <select id="selectNavSiteById" parameterType="Long" resultMap="NavSiteResult">
        <include refid="selectNavSiteVO"/>
        where site_id = #{siteId}
    </select>
        
    <insert id="insertNavSite" parameterType="NavSite" useGeneratedKeys="true" keyProperty="siteId">
        insert into nav_site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">menu_id,</if>
            <if test="siteName != null">site_name,</if>
            <if test="sitePath != null">site_path,</if>
            <if test="siteDescription != null">site_description,</if>
            <if test="siteUrl != null">site_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="status != null">status,</if>
            <if test="orderNum != null">order_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">#{menuId},</if>
            <if test="siteName != null">#{siteName},</if>
            <if test="sitePath != null">#{sitePath},</if>
            <if test="siteDescription != null">#{siteDescription},</if>
            <if test="siteUrl != null">#{siteUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="status != null">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
         </trim>
    </insert>

    <update id="updateNavSite" parameterType="NavSite">
        update nav_site
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuId != null">menu_id = #{menuId},</if>
            <if test="siteName != null">site_name = #{siteName},</if>
            <if test="sitePath != null">site_path = #{sitePath},</if>
            <if test="siteDescription != null">site_description = #{siteDescription},</if>
            <if test="siteUrl != null">site_url = #{siteUrl},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
        </trim>
        where site_id = #{siteId}
    </update>

    <delete id="deleteNavSiteById" parameterType="Long">
        update nav_site set status = 1 where site_id = #{siteId}
    </delete>

    <delete id="deleteNavSiteByIds" parameterType="String">
        update nav_site set status = 1 where site_id in
        <foreach item="siteId" collection="array" open="(" separator="," close=")">
            #{siteId}
        </foreach>
    </delete>

    <!-- 更新点击量 -->
    <update id="updateClickCountBySiteId" parameterType="Long">
        update nav_site set click_count = (click_count + 1) where site_id = #{siteId}
    </update>

    <!-- 获取网站点击量 -->
    <select id="getSiteClickCount" parameterType="Integer" resultType="int">
        select count(click_count) from nav_site
        <where>
            <if test="status != null">status = #{status}</if>
        </where>
    </select>

    <!-- 网站数量 -->
    <select id="getCount" parameterType="Integer" resultType="int">
        select count(*) from nav_site ns
        inner join nav_menu nm on ns.menu_id = nm.menu_id
        <where>
            <if test="status != null">ns.status = #{status} and nm.status = #{status}</if>
        </where>
    </select>

    <!-- 获取网站菜单下最大的排序 -->
    <select id="getSiteMaxOrderNum" parameterType="Long" resultType="Integer">
        select max(order_num) from nav_site where menu_id = #{menuId}
    </select>

</mapper>